<div class="section" id="certification">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Training & Certifications</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <div class="h5">Microsoft Technology Associate, Online</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <h4 class="category">Introduction to Programming using Python
              </h4>
              <ul>
                <li> Successfully completed the requirements to be recognized as a Microsoft Technology Associate.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <div class="h5">Verzeo Educate, Online</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <h4 class="category">Machine Learning
              </h4>
              <ul>
                <li>
                    Successfully completed the Microsoft Technology Associate course in Machine Learning conducted by Verzeo Educate.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <div class="h5">TechTrunk Ventures Pvt. Ltd. in association with IEEE, Bhubaneswar</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <h4 class="category">Internet of Things
              </h4>
              <ul>
                <li>Successfully completed the workshop in Silicon Institute of Technology, Bhubaneswar.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>