<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2016 - 2020</p>
            <div class="h5">Bachelor's Degree [B.TECH]</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of technology</div>
            <h4 class="category">Silicon Institute Of Technology, Bhubaneswar
            </h4>
            <ul>
              <li> Silicon Institute of Technology has been <b>ranked 5th (AAA+)</b> in the State of Odisha and <b>124th
                </b>in the Country amongst all engineering colleges, deemed universities </li>
              <li>Completed B.Tech in Computer Science and Engineering with <b>8.89 CGPA</b>.</li>
              <!-- <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li> -->
              <li>Maintained above <b>8.8 sgpa </b> in every semester of college academic .</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2013 - 2015</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
            <h4 class="category">Basic Science Of Humanities, OUAT, Bhubaneswar
            </h4>
            <ul>
              <li>
                The High School was mainly focus on the bases of science, mathematics, Chemistry and Biology.
              </li>
              <!-- <li> -->
                <!-- There was also a good base on physics, mathematics and chemistry. -->
              <!-- </li> -->
              <li>
                Completed my high school with<b> 73%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012 - 2013</p>
            <div class="h5">Sedcondary</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Jajpur Zilla School, Jajpur
            </h4>
            <ul>
              <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
              </li>

              <li>
                Completed my Secondary school with <b>92.3%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
